<div class="increment-app">
  <h1>Hello from increment app!</h1>
  <div class="increment-app__state">Current state: {{this.globalStateService.getState()}}</div>
  <div class="increment-app__button-div">
    <button (click)="this.globalStateService.increment()">Increment</button>
  </div>
</div>
<lib-decrement-app></lib-decrement-app>
