<h1>Hello from Factory Registration App!</h1>
<lib-smart-component></lib-smart-component>
<br><hr><br>
<h1>Below is a CUSTOM COMPONENT FACADE without smart one</h1>
<app-custom-sample sampleInput="some app input"></app-custom-sample>
