<div class="custom-sample__holder">
  <h2 class="custom-sample__header">Yo, this is a custom component. Header: {{facade.header}}</h2>
  <div class="custom-sample__body">And this is a nice custom body. Message: {{facade.greeting}}</div>
</div>
