<div>
  A dynamic registration app.
</div>
<hr>
<lib-some-component></lib-some-component>
<hr>
<div>A dynamic component. Should be the same as the one below it</div>
<lib-holder-component></lib-holder-component>
<hr>
<div>A custom dynamic component</div>
<app-hello></app-hello>
