<div class="decrement-app">
  <h1>Hello from decrement app!</h1>
  <div class="decrement-app__state">Current state: {{globalStateService.getState()}}</div>
  <div class="decrement-app__button-div">
    <button (click)="globalStateService.decrement()">decrement</button>
  </div>
</div>
